body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
}

.todo-input-grid {
  align-items: stretch;
  margin-bottom: 10px;
}

.todo-grid {
  align-items: center;
}

.name-input,
.time-input {
  font-size: 15px;
  padding: 6px;
}

.add-btn,
.delete-btn {
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.add-btn {
  background-color: green;
}

.delete-btn {
  background-color: darkred;
  padding-top: 10px;
  padding-bottom: 10px;
}
